@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palettes: #921A40, #C75B7A, #D9ABAB, #F4D9D0 */
body{
    @apply m-0 p-0 box-border;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background: var(--clr);
}
:root{
    --clr: #F4D9D0;
}
header{
    @apply absolute top-0 left-0 w-full flex justify-between align-middle;
    background-color: #921A40;
    color: #F4D9D0;
    padding: 15px 100px;
    z-index: 100000;
    border-radius: 40px 0 40px 0;
}
.logo{
    @apply relative text-2xl;
    color: #F4D9D0;
    text-decoration: none;
    font-weight: 600;
}
header .navigation{
    @apply flex justify-center flex-wrap;
    margin: 10px 0;
}
header .navigation li{
    @apply list-none;
    margin: 0 10px;
}
header .navigation li a{
    position: relative;
    color: #F4D9D0;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

header .search{
    @apply relative w-80 h-10;
}
header .search input{
    @apply absolute top-0 left-0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: #F4D9D0;
    outline: none;
    border: 1px solid #F4D9D0;
    border-radius: 20px;
    padding: 0 10px 0 55px;
}
header .search input::placeholder{
    color: #D9ABAB;
    padding-left: 3px
}
header .search .fa-search{
    @apply absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #F4D9D0;
    border-right: 1px solid #F4D9D0;
    padding: 0 10px;
}
header .fa-bars{
    right: 40px;
    font-size: 1.6em;
    transform: translateY(20%);
    color: #F4D9D0;
}
header .navigation #indicator{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 20px;
    height: 64px;
    background: var(--clr);
    border-radius: 20px 20px 0 0;
    transition: 0.5s;
}
header .navigation #indicator::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
}
header .navigation #indicator::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 5px var(--clr);
}